.promo {
    padding: 21px 0 93px;
    background:url(../img/bg.png) center (center/cover) no-repeat;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        margin-top: 90px;
    }
    &__header {
        color: #FFF;
        text-align: right;
        font-size: 42px;
        font-weight: 700;
        line-height: 42px;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    &__subheader {
        color: #FFF;
        text-align: right;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
        margin-top: 17px;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
        width: 424px;
    }
    &__icon {
        color: #FFF;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        img {
            margin-bottom: 20px !important;
            margin: 0 auto;
            display: block;
        }
    }
    &__link {
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        
            a {
                text-decoration-line: underline;
                text-transform: uppercase;
                color: #FFF;
            }
    }
}